#banner{
    padding: 200px;
    width: 100%;
   .item{
   display: flex;
   justify-content: space-between;
   align-items: center;
    .text_title{
       h1{
        color: #024430;
font-family: Manrope;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 72px; /* 112.5% */
width: 80%;
       }
      p{
        color: #3D565F;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
padding-bottom: 25px;
width: 72%;

      }
      .btn:hover{
        background-color: #198754;
      }
    }
    


}
}







































































