#network{
    padding: 200px;
    width: 100%;
    background-color: #024430;

    .title{
       
        h1{
            margin:0px 0px ;
            color: #FFF;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 140% */
            text-transform: uppercase;
        }
        p{ 
            color: #FFE7BB;
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 56px; /* 116.667% */
        }
    }
    .controler{
        margin-top: 70px;
        margin-bottom: 40px;
       
     li{
        margin-left: 20px;
        font-size: 20px;
        font-weight: 500;
        padding: 24px 32.68px 26px 32.88px;
        border-radius: 50px;
        border: 1px solid;
        background-color: #E0F1F4;
        
        
        &:hover{
            background-color: #FFE7BB;
            color:#024430 ;
        }
       
       .active{
        background-color: transparent;
        padding: 0;
    }
        }  
    } 
    .details{
        padding: 30px;
        width: 100%;
        padding: 55px 53px;
            border-radius: 32px;
            background: #FFF;
        .item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            img{
                width:600px;
                
            }
           .text{
            padding-left: 100px;
            .btn_1{
                padding: 5px 5px;
               border-radius: 5px;
               background-color: #0dcaf0;
               color: #FFF;
            }
            h1{
                color: #024430;
                width: 174%;
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                
            }
            p{  padding:20px ;
                color: #4E6770;
                width: 150%;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
            }
           }
        }
    }
}